table, thead, body, tr, td, th {
  border-color: #ffffff4b !important;
}

table.fc-scrollgrid, table.fc-scrollgrid th {
  border: 0 !important;
}

.fc-timegrid-divider.fc-cell-shaded {
  border: none !important;
  padding-bottom: 1px !important;
  background-color: #ffffff4b;
}

.fc-timegrid-slot-minor, .fc-timegrid-slot-label {
  border: 0 !important;
}

.fc-col-header-cell-cushion {
  text-decoration: none;
}

.fc-col-header-cell-cushion:hover {
  text-decoration: none;
  cursor: default;
}

.oc-col-header-cell {
  display:flex;
  flex-direction:column;
}

.oc-col-header-cell-weekday {
  color: #dadada;
  font-size: 12px;
}

.oc-col-header-cell-day {
    display: block;
    height: 1.8em;
    width: 1.8em;
    line-height: 1.8em;

    -moz-border-radius: 50%; /* or 50% */
    border-radius: 50%; /* or 50% */

    color: #dadada;
    text-align: center;
    /* font-size: 32px; */
    font-size: 2em;
}

.oc-col-header-cell-day:hover {
    cursor: pointer;
    background-color: #222222;
}

.oc-col-header-cell-active .oc-col-header-cell-weekday {
    color: rgb(154, 78, 230);
}

.oc-col-header-cell-active .oc-col-header-cell-day {
    background-color: rgb(154, 78, 230);
    color: #1e1e1e;
}

.oc-col-header-cell-active .oc-col-header-cell-day:hover {
    background-color: rgb(130, 64, 196);
    color: #1e1e1e;
}

.oc__modal__container {
  width: 100%;
  margin-top: 16px;
  display: grid;
  grid-template-columns: min-content auto;
  gap: 16px 8px;
}

.oc__modal__item {
  display: flex;
  align-items: center;
}

.oc__modal__item--icon {
  width: fit-content;
  grid-column-start: 1;
  grid-column-end: span 1;
}

.oc__modal__item--content {
  grid-column-start: 2;
  grid-column-end: span 1;
  margin: 0px !important;
}

.oc__modal__item--header {
  height: 48px !important;
  font-size: 32px !important;
}

.oc__modal__item--actions {
  display: flex;
  justify-content: end;
}

.oc__modal__item--actions button {
  margin-left: 8px;
}

.oc__modal__row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.oc__button {
  padding: 16px 30px;
  box-shadow: none !important;
}

.oc__button:hover {
  padding: 16px 30px;
  cursor: pointer;
}

.oc__button--primary {
  background: rebeccapurple !important;
}

.oc__button--primary:hover {
  background: rgb(80, 39, 121) !important;
  
}

.oc__button--secondary {
  background: none !important;
}

.oc__button--secondary:hover {
  background: rgba(255, 255, 255, 0.048) !important;
  box-shadow: none !important;
}

.setting-item-control input[type='text'] {
  flex: auto;
}